<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <input type="submit" value="Add Alias">
  </form>

  {% if request.GET.created_alias %}
    <div>
      Alias Created. Visit the website at:
      <a href="{% url 'translator' request.GET.created_alias %}">
        {{ request.GET.created_alias }}
      </a>
    </div>
  {% endif %}


</body>
</html>
